p {
    background-color: antiquewhite;
}
a {
    background-color: rgb(255, 222, 222);
}
div{
    background-color: azure;
}
.motivation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 10px solid rgb(45, 44, 44);
    color: white;
    height: 500px;
    width: 500px;
    margin-left: 90px;
    margin-right: 90px;
}
